<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:jaxws="http://cxf.apache.org/jaxws" 
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:util="http://www.springframework.org/schema/util" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
					    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
					    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
					    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
					    http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">
	
	<context:component-scan base-package="com.auto.test" />
	<import resource="classpath*:META-INF/cxf/cxf.xml" />
	<import resource="classpath*:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath*:META-INF/cxf/cxf-servlet.xml" />
	
	<jaxrs:server id="restServiceMy" address="/mys">
	    <jaxrs:providers>
	      <ref bean="jacksonProvider" />
	    </jaxrs:providers>
        <jaxrs:serviceBeans>
            <ref bean="myService"/>
        </jaxrs:serviceBeans>
        <jaxrs:extensionMappings>
            <entry key="json" value="application/json" />
        </jaxrs:extensionMappings>
        <jaxrs:languageMappings>
            <entry key="en" value="en-gb" />
        </jaxrs:languageMappings>
    </jaxrs:server>
    
    <jaxrs:server id="restServiceTime" address="/times">
	    <jaxrs:providers>
	      <ref bean="jacksonProvider" />
	    </jaxrs:providers>
        <jaxrs:serviceBeans>
            <ref bean="timeService"/>
        </jaxrs:serviceBeans>
        <jaxrs:extensionMappings>
            <entry key="json" value="application/json" />
        </jaxrs:extensionMappings>
        <jaxrs:languageMappings>
            <entry key="en" value="en-gb" />
        </jaxrs:languageMappings>
    </jaxrs:server>
    
	<jaxrs:server id="restServiceServer" address="/servers">
	    <jaxrs:providers>
	      <ref bean="jacksonProvider" />
	    </jaxrs:providers>
        <jaxrs:serviceBeans>
            <ref bean="serverService"/>
        </jaxrs:serviceBeans>
        <jaxrs:extensionMappings>
            <entry key="json" value="application/json" />
        </jaxrs:extensionMappings>
        <jaxrs:languageMappings>
            <entry key="en" value="en-gb" />
        </jaxrs:languageMappings>
    </jaxrs:server>
    
    <jaxrs:server id="restServiceLog" address="/logs">
	    <jaxrs:providers>
	      <ref bean="jacksonProvider" />
	    </jaxrs:providers>
        <jaxrs:serviceBeans>
            <ref bean="logService"/>
        </jaxrs:serviceBeans>
        <jaxrs:extensionMappings>
            <entry key="json" value="application/json" />
        </jaxrs:extensionMappings>
        <jaxrs:languageMappings>
            <entry key="en" value="en-gb" />
        </jaxrs:languageMappings>
    </jaxrs:server>
    
    <jaxrs:server id="restServiceFile" address="/files">
    	<jaxrs:providers>
	      <ref bean="jacksonProvider" />
	    </jaxrs:providers>
        <jaxrs:serviceBeans>
            <ref bean="fileService"/>
        </jaxrs:serviceBeans>
		<jaxrs:properties>
			<entry key="attachment-memory-threshold" value="104857600" /><!-- 100M -->
			<entry key="attachment-max-size" value="104857600" /><!-- 100M -->
		</jaxrs:properties>
		<jaxrs:extensionMappings>
            <entry key="json" value="application/json" />
        </jaxrs:extensionMappings>
        <jaxrs:languageMappings>
            <entry key="en" value="en-gb" />
        </jaxrs:languageMappings>
    </jaxrs:server>
    
	<bean id="jacksonObjectMapper" class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean"></bean>
	
	<bean id="jacksonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJaxbJsonProvider">
		<property name="mapper" ref="jacksonObjectMapper" />
	</bean>
	
</beans>